.inner.players-page
  h1 Players
  p Players in participating teams of #{game.name}
  if players.length > 0
    .list-group
      each player in players
        .list-group-item #{player.name} (#{player.team.name})

  else
    p no players

  if teams && teams.length > 0
    form#new-player-form.form-signin(role='form', action='/hash/players', method='POST')
      h2.form-signin-heading New player
      .form-group
        input.form-control(type='text', name='name', placeholder='cool player name')
      .form-group
        label(for="team-name-select") Team name
        select#team-name-select.form-control(name='team')
          for team in teams
            option(value=team._id) #{team.name}

      button.btn.btn-primary.btn-block(type='submit') Submit

      div#new-player-messages

  else
    h2.form-signin-heading New player
    p Error! you must create a team before creating any players

  script(src='/javascripts/playercreation.js')
