div
  if events && events.length
    div
      each event in events
        div
          h2 #{event.name} (#{event._type})
          p #{event.date}
          a.btn.btn-default(href='/#/#{event._type.toLowerCase()}/events/#{event._id}') More info
  else
    p You haven't created any events

  a.btn.btn-default(href="/#/index") Create a new event
