div.inner
  h1.welcome-container #{object.name}
  div
    ul
      li Owner: #{object.owner.name}
      li Date: #{object.date}
  pre=JSON.stringify(object, null, 2)

  if (user && user.id == object.owner._id)
    a.btn.btn-default.btn-block(href='/#/#{object._type.toLowerCase()}/events/#{object._id}/admin') Administer
